/* Scaffolding */
/* Base styles for HTML and Body */

html {
  box-sizing: border-box;
  /* Use border-box model for consistent sizing across elements */
  font-size: 16px;
  /* Base font size for rem units */
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--typography-family-primary);
  font-weight: var(--typography-regular-weight);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
  background-color: var(--basic-color-secondary);
  color: var(--text-color-primary);
  -webkit-font-smoothing: antialiased;
  /* Improves text rendering on WebKit browsers (Chrome, Safari, etc.) */
  -moz-osx-font-smoothing: grayscale;
  /* Improves text rendering on Firefox for macOS */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* Inherit border-box from html for all elements and pseudo-elements */
}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
figure,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: var(--text-color-primary);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: var(--interaction-color-primary);
}


button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor:pointer;
}