/* Typography*/
/* Formats
    .woff2: the most modern, compressed, and fastest format.
    .woff: compatible with older browsers (up to Internet Explorer 11).
*/


/* Nunito */

/* Nunito Regular - 400 */
@font-face {
  font-family: 'Nunito';
  src: url('../../assets/fonts/nunito/Nunito-Regular.woff2') format('woff2'),
    url('../../assets/fonts/nunito/Nunito-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Nunito SemiBold - 600 */
@font-face {
  font-family: "Nunito";
  src: url('../../assets/fonts/nunito/Nunito-SemiBold.woff2') format('woff2'),
    url('../../assets/fonts/nunito/Nunito-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* Nunito Bold - 700 */
@font-face {
  font-family: "Nunito"f;
  src: url('../../assets/fonts/nunito/Nunito-Bold.woff2') format('woff2'),
    url('../../assets/fonts/nunito/Nunito-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


/* Crimson Text */

/* Crimson Text Regular  - 400  */
@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/crimson/CrimsonText-Regular.woff2") format("woff2"),
    url("../../assets/fonts/crimson/CrimsonText-Regular.woff") format("woff");
}

/* Crimson Text SemiBold - 600 */
@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/crimson/CrimsonText-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/crimson/CrimsonText-SemiBold.woff") format("woff");
}

/* Crimson Text Bold - 700 */
@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/crimson/CrimsonText-Bold.woff2") format("woff2"),
    url("../../assets/fonts/crimson/CrimsonText-Bold.woff") format("woff");
}