/* Layout */

.main {
    display:flex;
    flex-direction: column;
    width:100%;
    padding:var(--font-size-large);
    gap:var(--font-size-large);
    margin:0 auto;
     max-width: var(--breakpoint-desktop);
}

/* Responsive - Media Query*/

@media screen and (min-width: 768px) { 
    .main {
        padding: var(--spacing-xxxx-large);
        gap: var(--spacing-xxxx-large);
    }
}