/* Layout */

.main {
    display:flex;
    flex-direction: column;
    width:100%;
    padding:var(--font-size-large);
    gap:var(--font-size-large);
    margin:0 auto;
    max-width: var(--breakpoint-desktop);
}

.main--internal {
    gap:var( --font-size-xxx-large);
}

.main-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var( --spacing-large);
}

.main-bottom-newsletter {
    display: flex;
    justify-content: center;
    padding:var(--spacing-small);
    background-color: var(--background-color-tertiary);
    width:100%;

}


/* Responsive - Media Query*/

@media screen and (min-width: 768px) { 
    .main {
        padding: var(--spacing-xxxx-large);
        gap: var(--spacing-xxxx-large);
    }
}