/* Button */
.button {
    display:flex;
    justify-content: center;
    align-items: center;
    border:none; 
    cursor:pointer;
    padding: var(--spacing-medium) var(--spacing-x-large);
    min-height: 48px; 
    font-size: var(--font-size-x-medium);
    line-height: var(--line-height-x-medium);
    font-weight: var(--typography-semibold-weight);
}

.button-primary {
    color:var(--text-color-primary);
    background-color: var(--interaction-color-primary);
} 

.button-primary:hover,
.button-primary:focus,
.button-primary:active {
     background-color: var(--interaction-color-primary-hover);
}
