/* Carousel */
.carousel {
  position: relative;
  width: 100%;
  max-width: var(--breakpoint-desktop);
  overflow: hidden;
  height: 375px;
  margin:0 auto;
}

.carousel__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.carousel__item {
  flex: 0 0 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
}


/* Carousel Actions*/
.carousel__actions {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 10;
  padding: var(--spacing-large);
}


.carousel-paginator {
  display: flex;
  justify-content: center;
  gap: var(--spacing-small);
}

.carousel-paginator__dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--basic-color-secondary);
  background-color: var(--background-color-primary);
  cursor: pointer;
}

.carousel-paginator__dot.isActive {
  background-color: var(--interaction-color-primary);
}


/* Responsive - Media Query*/

@media screen and (min-width: 768px) {

  /*  --breakpoint-tablet-portrait: 768px */
  .carousel {
    height: 620px;
  }
}