/* Carousel */

/* Carousel Main*/
.carousel__wrapper {
  width: 100%;
}
.carousel {
  position: relative;
  width: 100%;
  max-width: var(--breakpoint-desktop);
  overflow: hidden;
  height: 212px;
  margin:0 auto;
}

.carousel--home {
  height: 375px;
}

.carousel__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.carousel__item {
  flex: 0 0 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  object-position: center;
}

.carousel__actions {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 10;
  padding: var(--spacing-large);
}


.carousel-paginator {
  display: flex;
  justify-content: center;
  gap: var(--spacing-small);
}

.carousel-paginator__dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--text-color-tertiary);
  background-color: var(--background-color-primary);
  cursor: pointer;
}

.carousel-paginator__dot.isActive {
  background-color: var(--interaction-color-primary);
  cursor:default;
}


/* Carousel Press */

.carousel-press__wrapper {
  display:flex;
  flex-direction: column;
  gap:var(--spacing-large);
  width: 100%;
  background-color: var(--background-color-tertiary);
  padding: var(--spacing-large) 0 var(--spacing-xx-large) 0; 
}

.carousel-press {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap:var(--spacing-large);
  width:100%;
  overflow: hidden;
}


.carousel-press__picture {
  display: flex;
  flex-direction: column;
  align-items: center;
   padding: var(--spacing-large);
   cursor:pointer;
}

.carousel-press__image{
   width: 200px;
   height:auto;
}

.carousel-press__actions {
   position: relative; 
}

.carousel-press__link {
  display: block;
  position: relative;
  text-decoration: none;
  color: var(--text-color-primary);
  width:auto;
}


/* Carousel Thumb  */

.carousel-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:var(--spacing-large);
}

.carousel-thumb__thumbnails {
  display: flex;
  flex-direction: row;
  gap:var(--spacing-small);
}

.carousel-thumb__thumbanils-image {
  width: 50px;
  height: auto;
  cursor: pointer;
  border: 3px solid transparent;
}

.carousel-thumb__main {
  width:100%;
}

.carousel-thumb__thumbanils-image:hover,
.carousel-thumb__thumbanils-image.isActive,
.carousel-thumb__thumbanils-image:active{
  border: 3px solid var(--interaction-color-primary);
}

.carousel-thumb__main .carousel-thumb__image {
  width: 100%;
  height: auto;
  border: 3px solid var(--interaction-color-primary);
}



/* Carousel Thumb Product */
.carousel-thumb--product {
  align-items: flex-start;
}

.carousel-thumb--product .carousel-thumb__thumbanils-image{
  width:50px;
}


/* Responsive - Media Query*/

@media screen and (min-width: 768px) {

  /* Carousel Main */
  .carousel {
    height: 550px;
  }
  .carousel--home {
    height: 620px;
  }
  .carousel__actions {
    padding: var(--spacing-x-large) var(--spacing-xxxxx-large);
  }

  /* Carousel Thumb  */

  .carousel-thumb--about-maresia .carousel-thumb__thumbanils-image {
    width: 150px;
  }

  .carousel-thumb--about-maresia  {
    flex-direction: row;
    align-items: flex-start;
    gap:var(--spacing-xxxxx-large);
   
  }
  .carousel-thumb--about-maresia .carousel-thumb__thumbnails {
     flex-direction: column;
     order:0; 
     gap: var(--spacing-large);
  }

  .carousel-thumb--about-maresia .carousel-thumb__main{
    order:1; 
  }

}

@media screen and (min-width: 1024px) {

  /* Carousel Press */
  .carousel-press .carousel__track {
    justify-content: center;
  }

  .carousel-press .carousel__track {
    gap:var(--spacing-xxxxx-large);
  }

  .carousel-press .carousel__item {
    flex: unset;
  }
  .carousel-press__picture {
    padding:0; 
  }



}

@media screen and (min-width: 1200px) {
   /* Carousel Thumb  */

     .carousel-thumb--about-maresia .carousel-thumb__thumbanils-image {
      width: 220px;
    }
}