/* Header*/

.header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--breakpoint-desktop);
    padding: var(--spacing-xx-small) var(--spacing-large);
    width: 100%;
}

/* Header Logo */
.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 36px;
}
.header__logo-text{
    display: inline-block;
    text-indent: -8000px;
    visibility: hidden;
}
.header__logo-image {
    height: 36px;
    width: auto;
    cursor: pointer;
}


/* Header Navigation*/

.header__nav-list {
    display: flex;
    gap: var(--spacing-xx-large);
}

.header__nav-link {
    position: relative;
    padding: 0;
    text-decoration: none;
    font-family: var(--typography-family-secondary);
    font-weight: var(--typography-semibold-weight);
    font-size: var(--font-size-xx-large);
    line-height: var(--line-height-xx-large);
    color: var(--text-color-primary);
    text-transform: uppercase;
}

.header__nav-link:hover,
.header__nav-link:focus,
.header__nav-link:active {
    color: var(--interaction-color-primary);
    outline: none;
}


/* Header actions*/
.header__actions {
    display: flex;
}

.header__button {
    border: none;
    background-color: transparent;
    min-width: 44px;
    min-height: 44px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: unset;
    cursor: pointer;
}

.header__button  .header__icon:not(.icon-menu) svg path {
    stroke: var(--text-color-primary);
}
.header__button .icon-menu svg path.icon-override { 
    fill: var(--text-color-primary);
}

.header__button:hover  .header__icon:not(.icon-menu)  svg path,
.header__button:focus  .header__icon:not(.icon-menu)  svg path 
.header__button:active .header__icon:not(.icon-menu)  svg path {
    stroke: var(--interaction-color-primary);
}

.header__button:hover .icon-menu svg  path.icon-override,
.header__button:focus .icon-menu svg  path.icon-override,
.header__button:active .icon-menu svg  path.icon-override
 { fill: var(--interaction-color-primary); }


/* Responsive - Media Query*/

@media screen and (min-width: 768px) { 
    .header__content {
        padding: var(--spacing-medium) var(--spacing-xxxx-large);
    }
}

@media screen and (min-width: 1024px) and ( max-width: 1200px ) {  
    .header__nav-link {
        font-size: var(--font-size-x-medium);
        line-height: var(--line-height-x-medium);
    }
}