/* Highlight sections */

.home-sections {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    width:100%;
}
.home-section {
    display:flex;
    flex-direction: column ;
    gap:var(--spacing-small);
}

.home-section__title {
    font-size:var(--font-size-xx-large);
    line-height:var(--line-height-xx-large);
    font-family:var(--typography-family-secondary);
    font-weight: var(--typography-bold-weight);
    text-transform: uppercase;
    text-align: center;
}

.home-section__title span {
    text-transform: capitalize;
}

.home-section__item {
    width: 100%;
}

.home-section__link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.home-section__image {
   width: 100%;
}


/* Responsive - Media Query*/

@media screen and (min-width: 768px) {  /*  --breakpoint-tablet-portrait: 768px */
    .home-sections {
       flex-direction: row;
       justify-content: space-between;
    }

    .home-section__title {
        font-size:var(--font-size-huge);
        line-height:var(--line-height-huge);
    }       
}
