/* Icons */

*[class*=icon-] {
    display:inline-block;
}

*[class*=icon-] svg {
    width:25px;
    height:auto;
}


/* Responsive - Media Query*/

@media screen and (min-width: 768px) { /*  --breakpoint-tablet-portrait: 768px */
   *[class*=icon-] svg {
    width:30px;
    }
}