/* Product Detail*/

.product-detail,
.product-detail__wrapper,
.product-detail__content  {
    display:flex;
    flex-direction: column;
    gap:20px;   
}

.product-detail-section {
    font-family: var(--typography-family-secondary);
     text-align:center;
     font-size: 20px;
     font-weight: 600;
     text-transform: uppercase;
}

.product-detail__category {
    display:flex;
    flex-direction: column;
    gap:20px;
}

.product-detail__title {
    text-align: center;
    font-family: var(--typography-family-secondary);
    font-size:22px;
    font-weight:700;
}

.product-detail__category {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-detail__family{
    font-size:18px;
    font-weight:600;
}
.product-detail__type {
    font-size:18px;
}

.product-detail__note,
.product-detail__price {
    font-size:14px;
}



/* Responsive - Media Query*/
@media screen and (min-width: 1024px) {
    .product-detail__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px; 
    }
    .product-detail__wrapper > * {
        width:calc( 50% - 30px);
    }

    .product-detail-section,
    .product-detail__title {
        text-align:left;
    }

    .product-detail__title { 
        font-size: 24px; 
    }
    .product-detail__family,
    .product-detail__type {
        font-size: 20px; 
    }
     .product-detail__note {
        font-size: 18px; 
    }

}
