/* Product Detail*/

.product-detail,
.product-detail__wrapper,
.product-detail__content  {
    display:flex;
    flex-direction: column;
    gap: var( --spacing-large);  
}

.product-detail__title-section {
    font-family: var(--typography-family-secondary);
     text-align: center;
     font-size: var(--font-size-large);
     line-height: var(--line-height-large);
     font-weight: var(--typography-semibold-weight);
     text-transform: uppercase;
}

.product-detail__category {
    display:flex;
    flex-direction: column;
    gap: var( --spacing-large);
}

.product-detail__title {
    text-align: center;
    font-family: var(--typography-family-secondary);
    font-size:var(--font-size-x-large);
    line-height:var(--line-height-x-large);
    font-weight:var(--typography-bold-weight);
}

.product-detail__category {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-detail__family{
    font-size: var(--font-size-x-medium);
    line-height: var(--font-size-x-medium);
    font-weight: var(--typography-semibold-weight);
}
.product-detail__type {
    font-size: var(--font-size-x-medium);
    line-height: var(--font-size-x-medium);
}

.product-detail__note,
.product-detail__price {
    font-size:var( --font-size-small);
    line-height: var(--line-height-small);
}



/* Responsive - Media Query*/
@media screen and (min-width: 1024px) {
    .product-detail__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        gap: var( --spacing-xxxxx-large);
    }
    .product-detail__wrapper > * {
        width:calc( 50% - 30px);
    }

    .product-detail__title-section,
    .product-detail__title {
        text-align:left;
    }

    .product-detail__title { 
        font-size: var(--font-size-xx-large);
        line-height: var(--line-height-xx-large);
    }
    .product-detail__family,
    .product-detail__type {
        font-size: var(--font-size-large);
        line-height: var(--line-height-large);
    }
     .product-detail__note {
        font-size: var(--font-size-x-medium);
        line-height: var(--font-size-x-medium);
    }

}
