/* Highlight Quote */


.highlight__quote {
    display:block;
    margin: 0 auto;
    padding: var(--spacing-large);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    color: var(--text-color-tertiary);
    background-color: var(--background-color-quaternary);
    width: 100%;
    max-width: var(--breakpoint-desktop);
    text-align: center;
}


/* Responsive - Media Query*/

@media screen and (min-width: 768px) {

    /*  --breakpoint-tablet-portrait: 768px */
    .highlight__quote {
        position: absolute;
        top: 0;
        padding: var(--spacing-large) var(--spacing-xxxxx-large);
    }

    .header {
        margin-top: 64px;
    }

}