/* Highlight sections */

/* Section Shared */

.sections {
    display: flex;
    flex-direction: column;
    width:100%;
}

.section {
    display:flex;
    flex-direction: column ;
}

.section__title {
    font-size:var(--font-size-xx-large);
    line-height:var(--line-height-xx-large);
    font-family:var(--typography-family-secondary);
    font-weight: var(--typography-bold-weight);
    text-transform: uppercase;
    text-align: center;
}

.section__subtitle {
    font-size: var(--font-size-x-medium);
    line-height: var(--line-height-x-medium);
    font-weight: var( --typography-semibold-weight);
}

.section__title span {
    text-transform: capitalize;
}

.section__link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}


/*  Section Home */
.sections--home {
    gap: var(--spacing-large);
}
.section--home {
    gap:var(--spacing-small);
}


.section--home__image {
   width: 100%;
}

/* Section About Maresia */
.section--about-maresia {
    padding: var(--spacing-large);
    gap: var(--spacing-large);
    background-color:var(--background-color-tertiary);
}

.section--about-maresia__wrapper {
    display: flex;
    flex-direction: column;
    gap:var(--spacing-large);
}

.section--about-maresia__desc {
    font-size:var(--font-size-small);
    line-height:var(--line-height-small);
}

.section--about-maresia__image {
   width: 100%;
}


/* Section Products */
.sections--product {
    padding:var(--spacing-large);
    gap:var(--spacing-large); 
    background-color: var(--background-color-tertiary);
}
.sections--product__wrapper {
    display: flex;
    flex-direction: row;  
    gap:var(--spacing-large);   
}
.section--product {
    width:50%;
    align-items: center;
    gap: var(--spacing-small); 
}

.section--product__image {
    width: 100%;
}


/* Responsive - Media Query*/

@media screen and  (max-width: 400px) { 
    .section__title {
        font-size:var(--font-size-medium);
        line-height:var(--line-height-medium);

    }
}

@media screen and (min-width: 768px) { 
    .sections {
       flex-direction: row;
       justify-content: space-between;
    }

    .section__title {
        font-size:var(--font-size-xx-large);
        line-height:var(--line-height-xx-large);
    } 

    /* Section About Maresia */
    .section--about-maresia {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: var(--spacing-xxxxx-large);
        padding:var(--spacing-xxxxx-large);
        
    }
    .section--about-maresia:has(.section--about-maresia__figure) .section--about-maresia__wrapper {
        max-width: 65%;
    }
    .section--about-maresia-eco .section--about-maresia__figure {
        order:1; 
    }
    .section--about-maresia-eco .section--about-maresia__wrapper {

        order:0; 
    }
    .section--about-maresia .section__title {
        text-align: left;
    }


    /* Section Products */
    .sections--product {
        flex-direction: row;
        justify-content: center;
    }

}


@media screen and (min-width: 1024px) { 
     .section__title {
        font-size:var(--font-size-huge);
        line-height:var(--line-height-huge);
    } 
}
