/* Social Network bar*/

.social-netwok {
    display: flex ;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}
.social-netwok__link{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px;
}

.social-netwok__icon svg path {
    stroke: var(--text-color-primary);
}

.social-netwok__icon:hover svg path,
.social-netwok__icon:focus svg path,
.social-netwok__icon:active svg path {
    stroke: var(--interaction-color-primary);
}