/* Home testimonials */

.home-testimonials {
  width: 100%;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
  scroll-snap-type: x mandatory;
}

.home-testimonials__wrapper {
  display: flex;
  flex-wrap: nowrap; 
  gap: var( --spacing-large);
}

.home-testimonial__article {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto; 
  width: 278px;
  padding: var(--spacing-large);
  gap:var(--spacing-small);
  background-color: var(--background-color-tertiary); 
}

.home-testimonial__title {
    font-family:var(--typography-family-secondary);
    font-size:var(--font-size-xx-large);
    line-height:var(--line-height-xx-large);
    font-weight: var(--typography-bold-weight);
}
.home-testimonial__desc {
    font-size:var( --font-size-small);
    line-height:var(--line-height-small);
    padding-bottom:var(--spacing-xxx-large);
}
.home-testimonial__author {
    position:absolute;
    right:0;
    bottom:0; 
    padding:var(--spacing-large);
    font-size:var(--font-size-x-small);
    line-height: var(--line-height-size-x-small);
}


/* Responsive - Media Query*/

@media screen and (min-width: 768px) {

    .home-testimonial__desc {
        font-size:var(--font-size-x-medium);
        line-height: var(--line-height-x-medium);
    }
    .home-testimonials__wrapper {
        justify-content: space-between;
    } 

}